attrs==17.4.0
colored==1.3.5
coverage==4.5.1
kazoo==2.4.0
pluggy==0.6.0
prompt-toolkit==1.0.15
py==1.5.2
Pygments==2.2.0
pytest==3.3.2
pytest-cov==2.5.1
six==1.11.0
tox==2.9.1
virtualenv==15.2.0
wcwidth==0.1.7
